.card-logs {
  width: 300px;
  margin-bottom: 16px;
}
.table-container {
  max-height: 340px;
  overflow-y: auto;
  border-collapse: collapse;
}
.table-container thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

/* .linhaTabela {
  height: 16px !important;
  padding: 0px !important;
  margin: 0px !important;
  max-height: 16px !important;
}

.colunaTabela {
  height: 16px !important;
  padding: 0px !important;
  margin: 0px !important;
  max-height: 16px !important;
  background: yellow !important;
} */
