.menu-left {
  background: #1aa0e6 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  text-align: left;
  padding: 20px 20px;
}
.menu-left a {
  text-decoration: underline;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
